<!DOCTYPE html>
<html ng-app="CardsApp">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Linking manifest-->
  <link rel="manifest" href="/cards/manifest.json">
</head>

<body ng-controller="CardsController">


  <!-- Floating action button -->

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large yellow lighten-1">
      <i class="large material-icons black-text" ng-click="addcard()">add</i>
    </a>
  </div>


  <div class="row">
    <div class="col s12">
      <div class="navbar-fixed">

        <nav>
          <div class="nav-wrapper yellow lighten-1">
            <a class="brand-logo black-text">
              <p style=" margin: 0%">Flash Cards</p>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                class="material-icons black-text">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

            </ul>
          </div>
        </nav>
      </div>
      <ul id="mobile-demo" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background yellow lighten-1">
              <br>
            </div>
            <a href="#user"><img class="circle" src="res/icons/icons-192.png"></a>
            <a href="#name"><span class="name black-text">
                <h5>Flash Cards</h5>
              </span></a>
            <hr>
          </div>
        </li>
        <li><a href="#!">Flash Cards (beta) v 1.03</a></li>
        <li>
          <div class="divider"></div>
        </li>
        <li><a class="subheader">About</a></li>
        <li><a class="waves-effect" href="#!">Work in progress</a></li>
      </ul>
    </div>
  </div>

  <div class="row" ng-repeat="card in cards track by $index">

    <div class="col">

      <div class="card sticky-action z-depth-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src={{card.pic}}>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{card.title}}<i
              class="material-icons right">more_vert</i></span>
          <p><a href="#">{{card.option}}</a></p>

        </div>
        <!-- Card Reveal ( Answer )-->
        <div class="card-reveal" style="padding-bottom: 0px; padding-top: 8px; ">
          <span class="card-title grey-text text-darken-4">{{card.title}}<i
              class="material-icons right">close</i></span>
          <br>
          <div class="row">
            <div class="col s12">

              <div class="row" ng-repeat="num in nums" style="padding-left: 5px">


                <p class="col s12 row">
                  <label class="col">
                    <input name="group1" type="checkbox" ng-model="(card.qopts)[num]" style="border-right-color:red" />
                    <span style="color: {{resCol[num]}}">{{card.ans[num].val}}</span>
                    <br>
                  </label>
                </p>

              </div>

            </div>

          </div>

          <div class="row">
            <button class="btn yellow accent 4 col s6" style="color: black"
              ng-click="log($index)">{{submit[$index]}}</button>
            <i class="material-icons col s1" style="float: right; color:red" ng-click="deleteCard($index)">delete</i>
            <i class="material-icons col s3" style="float: right" ng-click="nav_edit($index)">edit</i>
          </div>

          <br>


        </div>

      </div>

    </div>

  </div>

  <div class="col">
    <br>
    <br>
    <br>
  </div>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="./materialize/js/materialize.js"></script>
  <script type="text/javascript" src="./angular/angular.min.js"></script>
  <script src="./main.js"></script>
  <script src="./material_init.js"></script>
</body>

</html>