<!DOCTYPE html>
<html ng-app="CardsApp">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Linking manifest-->
  <link rel="manifest" href="/cards/manifest.json">
  <title>Cards | Edit Card</title>
</head>

<body ng-controller="CardsController">
  <script type="text/javascript" src="./angular/angular.min.js"></script>


  <div class="row">

    <div class="col s12">

      <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper yellow lighten-1">
          <a href="#" class="black-text brand-logo"><p style="margin: 0%; font-weight:230;">Edit Card</p></a>
          <a href="./cards!.html" data-target="mobile-demo" class="left" style="padding-left: 10px"><i class="large material-icons black-text">close</i></a>
        </div>
      </nav>
    </div>
    </div>

  </div>

  <div class="row" style="padding: 20px">

    <div class="input-field">

      <input id="first_name" type="text" class="materialize-textarea" ng-model="edit_card.title" value="edit_card.title">

      <label for="first_name">Heading </label>

      <span class="helper-text">This need not be the question, just a heading for the card</span>

    </div>

    <div class="file-field input-field">

      <div class="btn yellow lighten-1">

        <span class="black-text">Image</span>

        <input type="file" accept="image/*" id="files"> 

      </div>

      <div class="file-path-wrapper">

        <input class="file-path validate" type="text" value="{{edit_card.pic}}">

      </div>

    <img src="{{edit_card.pic}}" style="width: 15em">


      <span class="helper-text">A picture of the question or an image supporting it</span>

    </div>

    <p style="font-size: 0.9em">Populate with possible options and select all that apply</p>

    <p style="font-size: 0.9em"> ( Incase of multi-correct ) </p>

    <div class="row" ng-repeat="opt in edit_card.ans">

      <div class="col s12">
    

        <div class="row">

          <p class="col s1">

            <label>

              <input name="group1" type="checkbox" ng-model="opt.bool" />

              <span></span>

            </label>

          </p>

          <input type="text" class="col s11" ng-model="opt.val">

        </div>

      </div>

      

    </div>


    <button class="btn yellow lighten-1 black-text" ng-click="editCard()">SAVE CHANGES</button>

  </div>


  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="./materialize/js/materialize.js"></script>
  <script src="./main.js"></script>
  <script src="./material_init.js"></script>
</body>

</html>